<!DOCTYPE html>
<html lang="tr">
  
<header>
  <button id="themeToggle" class="theme-toggle">🌙</button>

  <nav class="site-nav">

    <div class="logo">
      <a href="index.html">🎶 Müzik Aletleri</a>
    </div>

    <ul class="nav-links">
      <li><a href="index.html">Ana Sayfa</a></li>
      <li class="dropdown">
        <a href="#" class="dropbtn">Kategoriler ▼</a>
        <div class="dropdown-content">
          <a href="yayli-calgilar.html">Yaylı Çalgılar</a>
          <a href="telli-calgilar.html">Telli Çalgılar</a>
          <a href="tuslu-calgilar.html">Tuşlu Çalgılar</a>
          <a href="uflemeli-calgilar.html">Üflemeli Çalgılar</a>
          <a href="vurmali-calgilar.html">Vurmalı Çalgılar</a>
        </div>
      </li>
      <li><a href="about.html">Hakkında</a></li>
      <li><a href="contact.html">İletişim</a></li>
      <li><a href="kurslar.html">Kurslar</a></li>
    </ul>

    <div class="header-right"></div>
  </nav>
</header>
